@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@* Header *@

<header class="fixed left-1/2 -translate-x-1/2 flex m-3 p-3 w-1/2 bg-white rounded-full text-black z-50">
    <div class="basis-1/4">

    </div>
    <div class="basis-1/2">
        <partial name="Layout/Headers/_NavigationBar" />
    </div>
    <div class="basis-1/4">

    </div>
</header>
